textarea {
  @apply input;
}

.form-textarea {
  @apply rounded-5 border-2 border-indigo-500 font-medium p-15 min-h-300;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;

  &:hover,
  &:focus {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  }
}
