[data-animate='words-fade-up'] {
  .word-wrapper {
    @apply inline-flex overflow-hidden;
  }

  .word {
    transition: 500ms cubic-bezier(0, 0.5, 0, 1.01);
    opacity: 0;
    transition-delay: calc(0.015s * (var(--word-index) - 1));
    @apply inline-flex;
    backface-visibility: hidden;
    transform: translateY(50%);
  }
}

[data-animate='words-fade-up'].animate {
  .word {
    opacity: 1;
    transform: translateY(0%);
  }
}
