@keyframes hover-underline {
  0% {
    background-position: right;
    background-size: 100% 100%;
  }

  50% {
    background-position: right;
    background-size: 0% 100%;
  }

  50.1% {
    background-size: 0% 100%;
    background-position: left;
  }

  100% {
    background-position: left;
    background-size: 100% 100%;
  }
}
