.inline-svg {
  position: relative;
  display: block;
  width: 100%;
}

.inline-svg > svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@responsive {
  .object-cover-absolute {
    @apply object-cover w-full absolute h-full inset-0;
    object-position: center;
  }
}

@responsive {
  .object-contain-absolute {
    @apply object-contain w-full absolute h-full inset-0;
    object-position: center;
  }
}
